.pc-screen {
  padding: 100px 0 0;
  min-height: 100vh;
  background-color: var(--primary-blue);
}

.pc-screen .pokemon-item {
  cursor: pointer;
}

.pc-screen .pokemon-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  grid-template-rows: min-content;
  row-gap: 30px;
  column-gap: 30px;
  place-content: center;
  padding: 26px;
}

.pc-screen h2 {
  font-size: 42px;
  text-align: center;
  max-width: 320px;
  padding: 8px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--primary-yellow);
  border-radius: 6px;
  box-shadow: 0px 3px 1px 6px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 480px) {
  .pc-screen .pokemon-wrapper {
    grid-template-columns: repeat(5, 60px);
  }
}

@media screen and (min-width: 580px) {
  .pc-screen .pokemon-wrapper {
    grid-template-columns: repeat(6, 60px);
  }
}

@media screen and (min-width: 680px) {
  .pc-screen .pokemon-wrapper {
    grid-template-columns: repeat(7, 60px);
  }
  .pc-screen {
    padding-top: 140px;
  }
}

@media screen and (min-width: 780px) {
  .pc-screen .pokemon-wrapper {
    grid-template-columns: repeat(8, 60px);
  }
}

@media screen and (min-width: 880px) {
  .pc-screen .pokemon-wrapper {
    grid-template-columns: repeat(9, 60px);
  }
}

@media screen and (min-width: 980px) {
  .pc-screen .pokemon-wrapper {
    grid-template-columns: repeat(10, 60px);
  }
}

@media screen and (min-width: 1080px) {
  .pc-screen .pokemon-wrapper {
    grid-template-columns: repeat(11, 60px);
  }
}

@media screen and (min-width: 1180px) {
  .pc-screen .pokemon-wrapper {
    grid-template-columns: repeat(12, 60px);
  }
}

@media screen and (min-width: 1280px) {
  .pc-screen .pokemon-wrapper {
    grid-template-columns: repeat(14, 60px);
  }
  .pc-screen {
    padding-top: 160px;
  }
}

@media screen and (min-width: 1380px) {
  .pc-screen .pokemon-wrapper {
    grid-template-columns: repeat(15, 60px);
  }
}
