.pokemon-card {
  padding: 60px 0;
}

.pokemon-card .data {
  border-radius: var(--b-radius);
  box-shadow: var(--shadow);
  background-color: #fff;
  position: relative;
  padding: 20px;
  max-width: 312px;
  color: var(--text-black);
}

.pokemon-card .pokeball {
  transform: scale(0.4) !important;
  animation: none;
  position: absolute;
  left: -12px;
  bottom: 72px;
}
.pokemon-card .pokeball .pokeball__button {
  animation: none;
}

.pokemon-card .catch-btn {
  bottom: 18px;
  left: 18px;
  padding: 7px;
  font-weight: 700;
  font-size: 12px;
  background-color: var(--pokeball-red);
  color: #fff;
  text-transform: uppercase;
  border-radius: 6px;
}

.pokemon-card .data.pointer .pokemon-img-id {
  cursor: pointer;
}

.pokemon-card:nth-child(odd) {
  background-color: var(--text-light-gray-primary);
}

.pokemon-card .pokemon-img-id {
  display: flex;
  height: 126px;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 24px;
}

.pokemon-card h2 {
  font-size: 26px;
  align-self: center;
  font-weight: 600;
  text-transform: capitalize;
}
.pokemon-card .data .ability {
  font-size: 16px;
  font-weight: 600;
  margin-top: 4px;
  text-transform: capitalize;
}
.pokemon-card .types {
  font-weight: 600;
  text-transform: uppercase;
  margin: 12px 0;
  font-size: 12px;
}

.pokemon-card .types span {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  border: 2px solid var(--text-light-gray-secondary);
  padding: 4.5px 12px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
  border-radius: 40px;
  letter-spacing: 1px;
  min-width: 68px;
}

.pokemon-card .types span:last-child {
  margin-left: 12px;
}

.pokemon-card .types span:first-child {
  margin-left: 0;
}

.pokemon-card .id {
  font-size: 88px;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: 5px;
  color: var(--text-light-gray);
}

.pokemon-card img {
  display: inline-block;
  position: absolute;
  bottom: -20px;
  width: 96px;
  height: 96px;
}

.pokemon-card .boder-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 68px;
  height: 68px;
  font-weight: 600;
  z-index: 20;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  box-shadow: var(--shadow);
  top: -10px;
}

.pokemon-card .boder-circle.height {
  left: -10px;
}

.pokemon-card .boder-circle.weight {
  right: -10px;
}

.pokemon-card .stats {
  row-gap: 8px;
  color: var(--text-light-gray-tertiary);
  font-size: 18px;
  margin-top: 50px;
  max-width: 360px;
}

.pokemon-card .stats h3 {
  text-transform: capitalize;
  font-weight: 600;
}

.pokemon-card .stats p {
  color: var(--text-black);
  font-weight: 500;
}

.pokemon-card .stats label {
  display: grid;
  grid-template-columns: 120px 38px minmax(70px, 120px);
  width: 100%;
  column-gap: 20px;
  place-items: flex-end;
}
.pokemon-card .stats label p {
  place-self: center;
}

.pokemon-card .stats label .bar-wrapper {
  background-color: var(--text-light-gray-secondary);
  width: 100%;
  align-self: center;
  border-radius: 20px;
}

.pokemon-card .stats label .bar {
  height: 15px;
  border-radius: 20px;
  width: 0px;
}

@media screen and (min-width: 1140px) {
  .pokemon-card {
    flex-direction: row;
    justify-content: space-between;
    padding: 46px 150px 46px;
  }

  .pokemon-card .data {
    margin-right: 60px;
  }

  .pokemon-card .stats {
    margin-top: 0;
    max-width: 550px;
  }

  .pokemon-card .stats label {
    grid-template-columns: 120px 38px 1fr;
    column-gap: 30px;
  }
}
