.arena-wrapper {
  padding-top: 140px;
  min-height: 100vh;
  padding: 140px 26px 26px;
  position: relative;
}
.arena-wrapper .gotcha-svg {
  width: 200px;
  position: absolute;
  top: -40px;
}

.arena-wrapper .circle {
  display: flex;
  height: 480px;
  width: 100%;
  max-width: 320px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 60px 20px rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transform: rotateX(80deg);
}

.arena-wrapper .pokeballs-stack {
  bottom: 100px;
  width: 100%;
  position: relative;
  justify-content: center;
}

.arena-wrapper .pokeball {
  width: 100px;
  margin: 0;
  height: 100px;
  border: 3px solid #000;
  cursor: pointer;
  position: absolute;
  transition: all 0.3s;
  top: 0;
  animation: none;
}

.arena-wrapper .pokemon-hp-wrapper {
  position: absolute;
  bottom: 150px;
  max-width: 268px;
  font-weight: 600;
  color: #fff;
  width: 100%;
}

.arena-wrapper .pokemon-hp {
  background-color: var(--text-light-gray-secondary);
  width: 100%;
  font-size: 20px;
  align-self: center;
  border-radius: 20px;
  margin-left: 12px;
}

.arena-wrapper button.attack {
  border-radius: 6px;
  width: 160px;
  background-color: var(--primary-blue);
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  padding: 13px;
  position: absolute;
  top: 120px;
}
.arena-wrapper button.attack:active {
  transform: scale(0.97);
}

.arena-wrapper .pokemon-hp .bar {
  height: 15px;
  border-radius: 20px;
  transition: all 0.4s;
}

.arena-wrapper .pokeball.success::before {
  animation: pokeballSuccess 0.4s alternate linear infinite;
}

.arena-wrapper .pokeball__button {
  position: absolute;
  top: calc(50% - 6%);
  left: calc(50% - 6%);
  width: 15%;
  height: 15%;
  background: #7f8c8d;
  border: 3px solid #fff;
  border-radius: 50%;
  z-index: 10;
  box-shadow: 0 0 0 3px black;
  animation: blink 0.5s alternate 7;
  animation-iteration-count: infinite;
}

.arena-wrapper .pokeball.success .pokeball__button {
  animation: none;
}

.arena-wrapper .pokemon-body {
  top: 50%;
  transform: translate(0, -90%);
  display: inline-block;
  width: 96px;
  transition: all 0.5s;
}

@keyframes throwPokeball {
  80% {
    top: -300px;
  }
  90% {
    top: -200px;
    width: 70px;
    height: 70px;
  }
  95% {
    top: -210px;
    width: 70px;
    height: 70px;
  }

  100% {
    top: -200px;
    width: 70px;
    height: 70px;
  }
}

@keyframes pokemonShrink {
  100% {
    width: 10px;
  }
}

@keyframes pokemokGrow {
  100% {
    width: 86px;
  }
}

@keyframes pokeballSuccess {
  100% {
    background-color: #fff;
  }
}

@media screen and (min-width: 1024px) {
  .arena-wrapper button.attack {
    top: 160px;
  }
}
